* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* color: rgb(255, 152, 84); */

body {
    @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Dancing+Script:wght@400;500&family=Nixie+One&family=Raleway:ital,wght@0,200;0,400;1,200;1,400&family=Roboto:wght@400;500;700;900&display=swap');
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(65, 127, 242);
    min-height: 87vh;
    min-width: 280px;
    background-color: white;
}

.header {
    border-bottom: solid 1px rgb(255, 152, 84);
}

.subtitle {
    align-self: baseline;
    justify-self: center;
    font-weight: 400;
    font-size: 130%;
    background: linear-gradient(
        to left, rgb(255, 152, 84),
        rgb(65, 127, 242),
        rgb(65, 127, 242),
        rgb(65, 127, 242),
        rgb(65, 127, 242),
        rgb(65, 127, 242),
        rgb(65, 127, 242),
        rgb(65, 127, 242) 99%
        );
    width: 100%;
}

#cencosud_logo {
    width: 150px;
    margin-bottom: 3px;
}

h1 {
    margin-bottom: 14px;
    text-justify: center;
    color: rgb(255, 152, 84);
    font-family: 'Dancing Script', cursive;
}

h3 {
    margin-left: 7px;
    color: white;
}

.icons__svg {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 3px;
}

a {
    justify-self: center;
    align-self: center;
    margin-right: 5px;
}

.enlaces {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

#brightCoffee {
    clip-path: inset(0 0 55px 0);
}

.boton {
    text-decoration: none;
    cursor: pointer;
    width: 50px;
    height: 20px;
    border-radius: 0.25rem;
    border: none;
    background-color: bisque;
}

.content_input {
    margin-bottom: 1px;
    width: 150px;
}

.resultado {
    border: solid 1px rgb(255, 152, 84);
    border-radius: 14px;
    height: 50vh;
    width: 90%;
    margin: 14px;
    background-color: rgb(255, 255, 255);
    padding: 7px;
    overflow: scroll;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.enlace {
    margin: 1px;
    padding: 2px;
    text-decoration: none;
    border-radius: 0.25rem;
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: rgb(65, 127, 242);
}

footer {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    min-height: 5vh;
    align-items: end;
    justify-content: center;
    border: solid 1px green;
}

h6 {
    margin-right: 5px;
    color: darkgray;
}
