* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: solid 1px blue;
    min-height: 87vh;
    min-width: 280px;
    background-color: gray;
}

#cencosud_logo {
    width: 150px;
    margin-bottom: 3px;
}

h2 {
    margin-bottom: 14px;
    color: aliceblue;
    font-family: 'Dancing Script', cursive;
}

.boton {
    text-decoration: none;
    cursor: pointer;
    width: 50px;
    height: 20px;
    border-radius: 0.25rem;
    border: none;
    background-color: bisque;
}

.content_input {
    margin-bottom: 7px;
}

.resultado {
    border: solid 1px red;
    height: 50vh;
    width: 90%;
    margin: 14px;
    background-color: azure;
    padding: 7px;
    overflow: scroll;
}

.enlace {
    padding: 3px;
}

footer {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    min-height: 5vh;
    align-items: end;
    justify-content: center;
    border: solid 1px green;
}

h6 {
    margin-right: 5px;
    color: darkgray;
}